<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email">
  </div>
  <div *ngIf="email.invalid && email.touched && email['errors'].required">
    <span>Email is required</span>
  </div>
  <div *ngIf="email.invalid && email.touched && email['errors'].email">
    <span>Email has wrong format</span>
  </div>

  <div>
    <label for="first-name">First name</label>
    <input type="text" formControlName="firstName" id="first-name">
  </div>
  <div *ngIf="firstName.invalid && password.touched">
    <span>First name is required</span>
  </div>

  <div>
    <label for="last-name">Last name</label>
    <input type="text" formControlName="lastName" id="last-name">
  </div>
  <div *ngIf="lastName.invalid && password.touched">
    <span>Last name is required</span>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password">
  </div>
  <div *ngIf="password.invalid && password.touched">
    <span>Password is required</span>
  </div>

  <div *ngIf="beErrorMessage">
    <span>{{beErrorMessage}}</span>
  </div>

  <div>
    <button type="submit" [disabled]="signUpForm.touched && signUpForm.invalid">Sing Up</button>
  </div>
</form>
