<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email">
  </div>
  <div *ngIf="email.invalid && email.touched && email['errors'].required">
    Email is required
  </div>
  <div *ngIf="email.invalid && email.touched && email['errors'].email">
    Email has wrong format
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password">
  </div>
  <div *ngIf="password.invalid && password.touched">
    Password is required
  </div>

  <div>
    <button type="submit" [disabled]="signInForm.touched && signInForm.invalid">Sing In</button>
  </div>
</form>
