<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email">
  </div>
  <div *ngIf="email.invalid && email.touched && email['errors'].required">
    <span>Email is required</span>
  </div>
  <div *ngIf="email.invalid && email.touched && email['errors'].email">
    <span>Email has wrong format</span>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password">
  </div>
  <div *ngIf="password.invalid && password.touched">
    <span>Password is required</span>
  </div>

  <div *ngIf="beErrorMessage"></div>
  <span>{{beErrorMessage}}</span>
  <div>
    <button type="submit" [disabled]="signInForm.touched && signInForm.invalid">Sing In</button>
  </div>
</form>
